@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}
a{
    text-decoration: none;
}
.navbar{
  width: 100%;
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent; 
  position: absolute;
  z-index: 1;
}
.logo h1{
  font-size: 2.4rem;
  color: #FF7F00;
}
.nav-links ul{
  display: flex;
  gap: 4rem;
}
.nav-links ul li{
  list-style: none;
}
.nav-links ul li a{
  font-size: 1.6rem;
  color:white !important;
  font-weight: 300;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.nav-links ul li a:hover{
  color: #FF7F00 !important;
}
.signIn{
  font-size: 1.6rem;
  color: #000;
  font-weight: 400;
  background-color: #8a8988;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  transition: all 0.3s;
}
.signIn:hover{
  background-color: #181818;
}
.logIn{
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #FF7F00;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 5px;
  transition: all 0.3s;
}
.logIn:hover{
  background-color: #f6be87;
}
.for-logined-user{
  display: flex;
  gap: 1rem;
}
.favorite{
  color: white;
  font-size: 3.2rem;
  margin-right: 15px;
  transition: all 0.3s;
  cursor:pointer;
  margin-top: 5px;
}
.cart{
  color: white;
  font-size: 3.2rem;
  margin-right: 15px;
  transition: all 0.3s;
  cursor:pointer;
  margin-top: 5px;
}
.favorite:hover{
  color: #f6be87;
}
.cart:hover{
  color: #f6be87;
}
.user-btn{
  background:none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor:pointer;
}
.user-btn:hover .user{
  color: #f6be87;
}
.user{
  color: white;
  font-size: 3.8rem;
}
.user2{
  color: #000;
  font-size: 3.8rem;
  color: #525252;
}
.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 5px;
  min-width: 200px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
  max-height: 400px;
}
.sub-menu{
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}
.user-info{
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-info p{
  font-weight: 300;
  font-size: 1.6rem;
}
.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}
.sub-menu-link{
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin-top: 12px;
  margin-left: 5px;
  transition: all 0.3s;
}
.sub-menu-link:hover{
  padding-left: 10px;
}
.sub-menu-link ion-icon{
  font-size: 2.2rem;
}
.sub-menu-link p{
  font-size: 1.6rem;
  font-weight: 300;
}
/* navbar design ends */
.hero-section {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
    z-index: 0;
  }
  .img-section {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
   
  }
  .img-section img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
  }
  .linear {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0,
      transparent 60%,
      rgba(0, 0, 0, 0.8)
    );
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .main-box{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .logo img{
    height: 60px;
    width: 60px;
  }

  .main-hero-section{
    margin-top: 28rem !important;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
    
}
.main-hero-section h1{
    font-size: 6.4rem;
    color:white;
    line-height: 7rem;
    font-weight: 900;
}
.main-hero-section h2{
   
    color: #ffffff;
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: 2rem;
    letter-spacing: 0.1rem;
}
.main-hero-section h3{
  color: #ffffff;
  font-size: 1.9rem;
  font-weight: 400;
  margin-top: 1.5rem;
}
.main-hero-section form{
    margin-top: 2rem;
}
.input-btn{
    display: flex;
    gap: 0;
    height: 7rem;
}
.input-box{
    height: 7rem;
    width: 70%;
    position: relative;
  }
.input-box input{
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
    border-style: none;
    padding-left: 2%;
    
  }
  .microphone{
    position: absolute;
    font-size:3.5rem;
    right: 5px;
    margin-top: 13px;
    color: #8a8988;
  }
.btn-box{
    height: 7rem;
    width: 30%;
}

.btn-box button{
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-color: #FF7F00;
    border-style: none;
    font-size: 3rem;
}
/* for resturant page */

.resturant-section
{
  height: 60vh;
  width: 100%;
  position: relative;
}
.resturant-info{
 position: absolute;
 bottom: 15px;
 left: 3rem;
 min-width: 450px;
 height:200px; 
 /* background-color: red; */
 display: flex;
 gap: 20px;
}
.resturant-logo{
  height: 100%;
  width: 200px;
  position: relative;
}
.resturant-logo img{
  height: 100%;
  width: 100%;
}
.resturant-details{
  color: white;
  /* background-color: #f6be87; */
  padding-top: 40px;
}
.resturant-name{
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}
.icon{
  margin-right: 10px;
}
.icon1{
  margin-right: 4px;
}

.resturant-location{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.resturant-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.minimum-order{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
.service-type{
  margin-top: 8px;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
}
/* browse by cuisine section */
.browse-by-cuisine{
  width: 100%;
  padding: 50px 10px;
  /* background-color: rebeccapurple; */
}
.browse-by-cuisine h2{
  color: #0d1115;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 3.5rem;
  text-align: center;
  margin-bottom: 50px;
}
.cuisine-links{
  display: flex;
  justify-content: center;
  gap: 70px;
}
.cuisine-links a{
  color: #0d1115;
}
.cuisine-img{
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  overflow: hidden;
}
.cuisine-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: transform 2s;
}
.cuisine-links a:hover img {
  transform: scale(1.3);
}
.cuisine-name{
  padding: 5px 0;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
}
/* browse by cuisine section ends */
/* restaurant list */
.sort-filter-section {
  height: 50px;
  width: 130rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 48px 0 40px;
}
.totalRestaurant p {
  font-size: 25px;
  color:black;
  margin-top:5px;
}
.totalRestaurant span {
  font-size: 20px;
  color: #696969;
  margin-left:5px;
}
.controller {
  display: flex;
  gap: 80px;
}

.filter {
  width: 200px;
  position: relative;
}
.filter-down-icon{
  position: absolute;
}
.filter-up-icon{
  position: absolute;
   visibility: hidden;
}


.click {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  transition: 0.3s;
  padding: 12px;
  line-height: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #696969;
  border-radius: 5px;
  background-color: white;
  width: 250px;
  color: #696969;
}

.click1 {
  font-size: 1.6rem;
  line-height: 1;
  transition: 0.3s;
  padding: 12px;
  line-height: 1;
  height: 40px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #696969;
  border-radius: 5px;
  background-color: white;
  width: 250px;
  color: #696969;
}

.sortBy1 {
  width: 200px;
  position: relative;
  height: 100px;
}

.list {
  width: 250px;
  background-color: white;
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  border: 1px solid #696969;
  border-radius: 5px;
  top: 50px;
  padding: 10px 0;
  z-index: 99;
}
.list1 {
  width: 250px;
  background-color: white;
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  border: 1px solid #696969;
  border-radius: 5px;
  top: 50px;
  padding: 10px 0;
  z-index: 99;
}

.links {
  border: none;
  outline: none;
  background-color: transparent;
  color: #696969;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1;
  transition: 0.3s;
  padding: 12px;
  letter-spacing: 1px;
}

.newlist {
  transform: scaleY(1);
}
.newlist1 {
  transform: scaleY(1);
}
.links:hover {
  background-color: rgba(203, 203, 203, 0.5);
}
/* new */
.restaurant-directory{
  max-width: 130rem;
  height: 30vh;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 0 40px;
}
.restaurant-directory .restaurant-details:hover{
  transform: scale(1.1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.restaurant-directory .restaurant-details{
  width: 28rem;
  border: 1px solid  rgb(214, 214, 214);
  border-radius: 5px;
  transition: all 0.3s;
}
.restaurant-directory .restaurant-details .restaurant-logo{
  width: 28rem;
  height: 28rem;
}
.restaurant-directory .restaurant-details .restaurant-logo img{
  width: 100%;
  height: 100%;
}
.restaurant-details .restaurant-info{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 0.8rem;
  padding: 15px 25px;
}
.restaurant-details .restaurant-info .restaurant-name{
  font-size: 2rem;
}
.restaurant-details .restaurant-info p{
  font-size: 1.3rem;
  letter-spacing: 0.8px;
}
.restaurant-list-icon{
  font-size: 1.3rem;
  color: #525252;
}
.for-margin{
  margin-right: 5px;
}
.for-status-favorite{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.favorite-btn{
  background: none;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
}
.status{
  width: 80px;
  font-size: 1rem;
  color: white;
  padding: 6px 20px;
  border-radius: 2px;
}
.open{
  background-color: forestgreen;
}
.close{
  background-color:red;
}

/*popup box*/
.changeProfile{
  position: absolute;
  bottom: 0;
  right: 3rem;
  padding: 7px 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.changeBackgroundImgOption{
  position: absolute;
  bottom: 80px;
  right: 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  visibility: hidden;
}
.changeProfileImgOption{
  position: absolute;
  bottom:5rem;
  left:0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  visibility: hidden;
}
.uploadImgBtn{
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 40px;
  border-style: none;
  font-size: 1.4rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.deleteImgBtn{
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 40px;
  border-style: none;
  font-size: 1.4rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.uploadImgBtn:hover{
  background-color: #d4d4d4;
}
.deleteImgBtn:hover{
  background-color: #d4d4d4;
}
.changeBackground{
  position: absolute;
  bottom: 40px;
  right: 3rem;
  background-color:white;
  display: flex;
  padding: 2px 4px;
  align-items: center;
  gap: 4px;
  border-radius: 3px;
  cursor: pointer;
}
/* admin-restaurant-navbar */
.secondary-navbar{
  width: 100%;
}
.secondary-navbar div{
  max-width: 130rem;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}
.secondary-navbar-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.secondary-navbar-link{
  list-style: none;
}
.secondary-navbar-link a{
  text-decoration: none;
  color: #181818;
  font-size: 1.8rem;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.secondary-navbar-link a:hover{
  color: #FF7F00;
}
/* popup box design */
.editProfileForm{
  min-width: 50rem;
  padding:30px;
  border:1px solid #939292;
  position: fixed;
  z-index: 99;
  margin:130px 500px;
  background-color: #ffffff;
  visibility: hidden;

}
.editProfileForm h2{
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
.editProfileForm hr{
  margin-bottom: 20px;
}
.addFood{
  min-width: 50rem;
  padding:30px;
  border:1px solid #939292;
  /* position: fixed;
  z-index: 99; */
  margin:130px 500px;
  background-color: #ffffff;
}
/* for rating */
.container-rating{
  position: relative;
  width: 400px;
  background:white;
  padding: 20px 30px;
  border: 1px solid #444;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .post{
  display: none;
}
.container .text{
  font-size: 25px;
  color: #666;
  font-weight: 500;
}
.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color: #a7a7a7;
  padding: 10px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}
#rate-1:checked ~ form header:before{
  content: "I just hate it ";
}
#rate-2:checked ~ form header:before{
  content: "I don't like it ";
}
#rate-3:checked ~ form header:before{
  content: "It is awesome ";
}
#rate-4:checked ~ form header:before{
  content: "I just like it ";
}
#rate-5:checked ~ form header:before{
  content: "I just love it ";
}
.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}

form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  background: green;
  color: white;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}
/* for food list */
.for-food-list{
  width: 25rem;
  margin-left: 10rem;
}
.for-food-img{
  width: 25rem;
  height: 20rem;
}
.for-food-img img{
  width: 100%;
  height: 100%;
}
.for-food-description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.food-name{
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.food-price{
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.add-to-cart-btn{
  border: none;
  border-radius: 5px;
  color:white;
  background-color: #FF7F00;
  font-size: 1.4rem;
  padding: 3px 20px;
}
/* food order box */
.food-order-box{
  width: 38rem;
  border-radius: 10px;
  border: 1px solid rgb(223, 223, 223);
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.order-time-and-user-profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.order-time{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.2rem;
}
.order-count{
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0!important;
}
.contact-name{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #8a8988;
  margin-bottom: 0!important;
}
.contact-info{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #8a8988;
  margin-bottom: 0!important;
}
.food-delivery-time{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #8a8988;
  margin-bottom: 0!important;
}
.user-text{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgoldenrod;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.user-text h2{
  color: white;
  font-size: 2.8rem;
}
.order-food-section{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.order-food-img img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}
.order-food-detail{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  border-bottom:1px solid  #b6b6b6 ;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.order-food-name{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0!important;
  letter-spacing: 1px;
  gap: 0.5rem;
}
.order-food-type{
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: #5c5c5c;
  margin-bottom: 0.3rem!important;
}
.order-food-quantity-price{
  display: flex;
  gap: 8rem;
}
.order-food-price{
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0!important;
  letter-spacing: 1px;
}
.order-food-quantity{
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0!important;
  letter-spacing: 1px;
}
.total-decision-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iteam-total{
  margin-left: 2rem;
  padding-top: 1rem;
}
.total-iteam{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: #8a8988;
  margin-bottom: 0!important;
}
.total{
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0!important;
}
/* for verification message */
.verificationMessageBox{
  background-color: #46A8F5;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.msg-restaurant-icon{
  color: #46A8F5;
  background-color: white;
  font-size: 2.4rem;
  padding: 8px 8px;
  border-radius: 50%;
}
.verification-msg{
  font-size: 2rem;
  letter-spacing: 1px;
  color: white;
}
/* customer-review */
.customer-review-box{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.customer-review-img-name{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.customer-review-letter{
  width: 3.5rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.6rem;
  padding: 1rem 0;
  color: #fff;
  background-color: #FF7F00;
}
.customer-review-name{
  font-size: 1.4rem;
  letter-spacing: 1.2px;
}
.customer-review-rate-date{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.star{
  font-size: 1.6rem;
}
.customer-review-date{
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.customer-review-message{
  font-size: 1.4rem;
  letter-spacing: 1px;
}